*.pyc
*~
*.swp
*.un~
*.xcuserdatad
\#*
.#*
.DS_Store
.AppleDouble
session_ids.txt
xcuserdata/**/*
*.iml
# Java class files
*.class
# For android studio
.idea
.gradle
build/
Likes.xccheckout
._*
*.save
local.properties
